.posts-list {
    flex: 1 1;
    background-color: black;
    color: white;
    overflow: hidden;
    max-height: 100vh;
    min-width: 300px;

    .list-container {
        overflow-y: scroll;
        height: 100%;
    }

    .title {
        background-color: gray;
        margin: 0;
    }
}