
// Rotation Animation
$offset:187;
$duration: 1.4s;

.spinnerContainer {
  display: flex;
  justify-content: center;

  .spinner {
    animation: rotator $duration linear infinite;
  
    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
        dash $duration ease-in-out infinite
    }
    
    @keyframes dash {
     0% { 
        stroke-dashoffset: $offset;
        stroke-dasharray: 75%; 
      }
     50% {
       stroke-dasharray: 75%;
       stroke-dashoffset: $offset;
       transform:rotate(135deg);
     }
     100% {
       stroke-dashoffset: $offset;
       stroke-dasharray: 75%;
       transform:rotate(450deg);
     }
    }
  }
  
  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }
}